@import './mixin.scss';
@import './common.scss';

.root {
    @include full-block;

    .theme-img {
        position: absolute;
        width: 30px;
        right: 0;
        top: 16px;
        right: 4px;
        &:hover {
            cursor: pointer;
        }
    }

    .main-page {
        @include full-block;

        >.main-page-layout {
            height: 100%;

            >.main-page-header {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                overflow: hidden;

                &[theme='light'] {
                    background: #98DBC6;
                }

                &[theme='dark'] {
                    background: #37554b;
                }

                .header-span {
                    margin-left: 4px;
                    margin-right: 4px;
                    color: #fff;
                }

                .page-header-search {
                    margin-right: 12px;
                }

                .header-logo {
                    position: absolute;
                    left: 20px;
                    font-size: 24px;
                    font-family: 'logoFont', 'Arial';
                    // font-weight: bold;
                    color: #fff;
                }

                .ant-space-item {
                    color: #fff;
                }

                .img-write-article {
                    margin-left: 16px;
                    width: 24px; 
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .sider-tree{
                margin-top: 8px;
                width: 100%;
                background: none;
                color: #fff;

                .sider-icon { 
                    position: relative;
                    top: -2px;
                    margin-right: 20px;
                    width: 20px;
                    &.sider-icon-child:hover { 
                        animation: 10s rotateSelf infinite linear;
                    }
                }
                @keyframes rotateSelf {
                    from {transform: rotateZ(0deg);}
                    to {transform: rotateZ(360deg);}
                }
            } 
        }
        .login-form-container {
            display: flex; 
            justify-content: center;
            align-items: center;
            left: 50%;
            top: 50%;
            position: relative;
            transform: translate(-250px, -150px); 
            width: 500px;
            height: 300px;
            border: 1px solid rgb(136, 223, 175);
            background-color: #fff;
            .login-btn-ok{
                margin-left: 60px;
            }
            .login-btn-cancel {
                margin-left: 20px;
            }
        } 

        .page-content {
            position: relative;
            height: 100%;
            .page-loading-icon {
                position: absolute;
                top: 50%;
                left: 50%;
            }
        } 
      
    }
}

footer.ant-layout-footer {
    color: #fff;
    
    &[theme='light'] {
        background: #86d8be;
    }

    &[theme='dark'] {
        background: #37554b;
    }

    .address-email {
        display: inline-block;
        a {
            color: #fff;
        }
    }
}